profiles{
	awsbatch { 
		outputDir = 's3://jorgee-eu-west1-test2/publish-dir-test/'
		process.executor = 'awsbatch'
		process.queue = 'TowerForge-2n9rhPzsZ3fgbAynO0eDAC-work'
		workDir = 's3://jorgee-eu-west1-test1/work/'
		aws.region = 'eu-west-1'
		aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
	}
	gcloud {
		outputDir = 'gs://nf-test-jorgee/publish/'
		process.executor = 'google-batch'
        	workDir = 'gs://nf-test-jorgee/work/
        	google.project = 'tower-cloud-testing'
        	google.location = 'europe-west1'
	}

}
process.container = 'quay.io/nextflow/bash'
