outputDir = 's3://jorgee-eu-west1-test2/publish-dir-test/'
process.container = 'quay.io/nextflow/bash'
process.executor = 'awsbatch'
process.queue = 'TowerForge-2n9rhPzsZ3fgbAynO0eDAC-work'
workDir = 's3://jorgee-eu-west1-test1/work/'
aws.region = 'eu-west-1'
aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
